@{
    ViewBag.Title = "eFIN Most Viable Product";
}

<div class="jumbotron">
    <h1>eFIN Most Viable ProductEntity</h1>
    <p class="lead">The eFIN platform is an integrated set of web, data, analytics, and API functionality to serve enterprise clients in the Retail, CPG, and products industries.
</p>
</div>

@*<div>
    @Html.ActionLink("List of SupplierEntities", "Index", "SupplierEntities")<br />
    @Html.ActionLink("List of Marketers", "Index", "Marketers")<br />
    @Html.ActionLink("List of SupplierEntity Offers", "Index", "SupplierOfferEntities")<br />
    @Html.ActionLink("List of ProductEntities", "Index", "ProductEntities")<br />
</div>*@