<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" 
               type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsumerService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IMarketerService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IProductService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_ISupplierService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/eFIN.MVP.Services.Store/urShopper/ConsumerService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsumerService"
          contract="ConsumerService.IConsumerService" name="BasicHttpBinding_IConsumerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/eFIN.MVP.Services.Store/urShopper/MarketerService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarketerService"
          contract="MarketerService.IMarketerService" name="BasicHttpBinding_IMarketerService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/eFIN.MVP.Services.Store/urShopper/ProductService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
          contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/eFIN.MVP.Services.Store/urShopper/SupplierService/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplierService"
          contract="SupplierService.ISupplierService" name="BasicHttpBinding_ISupplierService" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ConsumerServiceSvc" value="http://0d33a1a4ec1f4b9a863cf44fc42c503e.cloudapp.net/Consumer.svc" />
    <add key="SupplierServiceSvc" value="http://0d33a1a4ec1f4b9a863cf44fc42c503e.cloudapp.net/Supplier.svc" />
    <add key="MarketerServiceSvc" value="http://0d33a1a4ec1f4b9a863cf44fc42c503e.cloudapp.net/Marketer.svc" />
    <add key="ProductServiceSvc" value="http://0d33a1a4ec1f4b9a863cf44fc42c503e.cloudapp.net/Product.svc" />
  </appSettings>

  <connectionStrings>
    <add name="ursCoreMVPEntities"
         connectionString="metadata=res://*/MVPAzureEFModel.csdl|res://*/MVPAzureEFModel.ssdl|res://*/MVPAzureEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=urshopper.database.windows.net;initial catalog=ursCore;persist security info=True;user id=anandti;password=oDDy6ge!QP!fXNT;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  

    <log4net>  
        <appender name="LogFileAppender" 
                        type="log4net.Appender.RollingFileAppender" >
            <param name="File" value="C:\Temp\Log\log.txt" />
            <param name="AppendToFile" value="true" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="2" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                  <param name="ConversionPattern" 
                       value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
                  <conversionPattern
                       value="%newline%newline%date %newline%logger 
                       [%property{NDC}] %newline>> %message%newline" />
            </layout>
        </appender>

        <root>
            <level value="ALL" /> 
            <appender-ref ref="LogFileAppender" />                     
        </root>
    </log4net> 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>